<div class='fixed-nav-pad container'>
  <form action='/users/<%= current_user.id %>/instruments/edit' method='post'>
    <input type="hidden" name="_method" value="put">
    <% thing.all.each do |t| %>
      <% if current_user.instruments.include? t %>
        <label><input type="checkbox" id="<%= t.name %>" value="<%= t.name %>" checked="checked"> <%= t.name.capitalize %></label><br>
      <% else %>
        <label><input type="checkbox" id="<%= t.name %>" value="<%= t.name %>"> <%= t.name.capitalize %></label><br>
      <% end %>
    <% end %>
    <input type='submit' value='Update'>
  </form>
</div>