<div class='fixed-nav-pad container'>
<h2><%= @user.first_name %> <%= @user.last_name%></h2>
<h3><%= @user.city %>, <%= @user.state %></h3>
<h3>About Me</h3>
<p><%= @user.about_me %></p>
<h3>Instruments</h3>
  <ul>
  <% @user.instruments.each do |inst| %>
    <li><%= inst.name.capitalize %></li>
  <% end %>
</ul>
<h3>Genres</h3>
  <ul>
  <% @user.genres.each do |genre| %>
    <li><%= genre.name.capitalize %></li>
  <% end %>
</ul>
</div>

<% if @user == current_user %>
  <div id="edit-links" class="container">
    <a href="/users/<%= current_user.id %>/edit">Update Personal Info</a>
    <a class="checkbox-link" href="/users/<%= current_user.id %>/instruments/edit">Edit Instruments</a>
    <a class="checkbox-link" href="/users/<%= current_user.id %>/genres/edit">Edit Genres</a>
  </div>
<% end %>

<% if current_user && @user != current_user %>
  <div class='container'>
    <a href="">Contact <%= @user.first_name %></a>
  </div>
<% end %>



